<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arihant Kamde</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <ion-icon name="code-slash"></ion-icon>
        </div>
        <div class="nav-mid">
            <ion-icon name="menu"></ion-icon>
        </div>
        <div class="nav-right">
            <span>Home</span>
            <span>About</span>
            <span>Projects</span>
            <span>Contact</span>
        </div>
    </nav>

    <section class="logo-section">
        <div class="logo-section-right">
            <span class="logo">HEY, I'M ARIHANT KAMDE</span>
            <p>I am a Full Stack Web Developer. I love working on exciting projects and building awesome web designs.</p>
            <a href="/projects">PROJECTS</a>
        </div>
        <div class="logo-section-left">
            <div class="logo-section-cart">
                <ion-icon class="show add" name="add"></ion-icon>
            </div>
            <div class="logo-section-item">
                <ion-icon name="logo-linkedin"></ion-icon>
                <ion-icon name="logo-github"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-icon name="logo-facebook"></ion-icon>
            </div>
        </div>
        <div class="slider">
            <ion-icon name="caret-down"></ion-icon>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/script/script.js"></script>
</body>

</html>