<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arihant Kamde</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <ion-icon name="code-slash"></ion-icon>
        </div>
        <div class="nav-mid">
            <ion-icon name="menu"></ion-icon>
        </div>
        <div class="nav-right">
            <span>Home</span>
            <span>About</span>
            <span>Projects</span>
            <span>Contact</span>
        </div>
    </nav>

    <section class="logo-section">
        <div class="logo-section-right">
            <span class="logo">HEY, I'M ARIHANT KAMDE</span>
            <p>A Full Stack Web Developer, I working and building exciting projects.
            </p>
            <a href="/projects">MY PROJECTS</a>
        </div>
        <div class="logo-section-left">
            <div class="logo-section-cart">
                <ion-icon class="show add" name="add"></ion-icon>
            </div>
            <div class="logo-section-item">
                <ion-icon name="logo-linkedin"></ion-icon>
                <ion-icon name="logo-github"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-icon name="logo-facebook"></ion-icon>
            </div>
        </div>
        <div class="slider">
            <ion-icon name="caret-down"></ion-icon>
        </div>

    </section>
    <section class="about">
        <span class="about-header">Let's Get Started</span>
        <div class="about-child">
            <span>About Me</span>
            <div class="intro-div">
                <p>Hey! I am a Full Stack Web Developer. I love working on exciting projects and building cool web
                    designs. I am an engineer who thrives to learn different technologies and the amazing logic behind
                    them, I love sharing my ideas and contributing to real world problems. I am following a journey
                    where I am learning and enhancing my skill set everyday to increase my potential as a Techie/Tech
                    Geek.</p>
                <a href="#">Contact Me</a>
            </div>
        </div>
        <div class="about-child">
            <span>Education</span>
            <div class="education-div">
                <div class="education-detail-child">
                    <span>10th, 9.1 CGPA</span>
                    <p>Farhan Higher Secondary School, Lanji</p>
                </div>
                <div class="education-detail-child">
                    <span>12th, 8.2 CGPA</span>
                    <p>Farhan Higher Secondary School, Lanji</p>
                </div>
                <div class="education-detail-child">
                    <span>B Tech, 9.1 CGPA</span>
                    <p>Lakshmi Narain College Of Technology and Excellence, Bhopal</p>
                </div>
            </div>
        </div>
        <div class="about-child">
            <span>Work Experience</span>
            <div class="experience-div">
                <div class="experience-detail-child">
                    <span>Persistent System Limited</span>
                    <p>Software Engineer, 08/2023 - Present</p>
                </div>
            </div>
        </div>
        <div class="about-child">
            <span>Skills</span>
            <div class="skill-div">
                <div class="skill-child">
                    <span>Programming Skills</span>
                    <ul class="skill-list">
                        <li>Java</li>
                        <li>C++</li>
                    </ul>
                </div>
                <div class="skill-child">
                    <span>Frontend Skills</span>
                    <ul class="skill-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>EJS</li>
                        <li>GSAP</li>
                        <li>BootStrap</li>
                    </ul>
                </div>
                <div class="skill-child">
                    <span>Backend Skills</span>
                    <ul class="skill-list">
                        <li>Node Js</li>
                        <li>Epxress</li>
                        <li>Mongoose</li>
                        <li>Mongo DB</li>
                        <li>My SQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="project">
        <span class="project-header">Projects</span>
        <div class="project-div">
            <div class="project-child">
                <div class="project-img">
                    <img class="project-big-img" src="/img/genzPC.png" alt="">
                    <!-- <img class="project-small-img" src="/img/genz.jpg" alt=""> -->
                </div>
                <div class="project-description">
                    <span>GenZ (Clothing Store)</span>
                    <p>Explore GenZ's dynamic online platform, offering a seamless experience for discovering and
                        purchasing cutting-edge products. From innovative gadgets to stylish accessories, GenZ brings
                        the future to your fingertips. Join us today and elevate your shopping journey with GenZ.
                        Personal Cart can be used by Cookies and User Management done by using Sessions.</p>
                    <div class="project-links">
                        <a href="https://github.com/arihantXD/GenZ">Git Hub</a>
                        <a href="https://gen-z-five.vercel.app/">Live Demo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-div">
            <div class="project-child">
                <div class="project-img">
                    <img class="project-big-img" src="/img/caffePC.png" alt="">
                    <!-- <img class="project-small-img" src="/img/caffe.jpg" alt=""> -->
                </div>
                <div class="project-description">
                    <span>CaffeZilla</span>
                    <p>Created a dynamic Full Stack Website for café exploration, empowering users to discover cafes,
                        post reviews, and upload photos. Implemented user registration, login, café management, and
                        review functionalities. Contribution can be done to an engaging user experience through
                        intuitive café discovery and review interaction.
                        Cafes are located on the map using MapBox Api and pictures are hosted via Cloudinary Management.
                    </p>
                    <div class="project-links">
                        <a href="https://github.com/arihantXD/CaffeZilla">Git Hub</a>
                        <a href="https://caffe-zilla.vercel.app/">Live Demo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-div">
            <div class="project-child">
                <div class="project-img">
                    <img class="project-big-img" src="/img/weatherPC.png" alt="">
                    <!-- <img class="project-small-img" src="/img/weather.jpg" alt=""> -->
                </div>
                <div class="project-description">
                    <span>Weather.io</span>
                    <p>Developed Weather.io, a feature-rich website displaying comprehensive weather insights, including
                        real-time temperature, humidity, pressure, sunrise, sunset, and pollutant concentration data.
                        Implemented cookies to enhance user experience by storing preferences such as recent search
                        history for the last three locations.</p>
                    <div class="project-links">
                        <a href="https://github.com/arihantXD/Weather.io">Git Hub</a>
                        <a href="https://weather-io-kappa.vercel.app/">Live Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <span class="contact-header">Contact Me</span>
        <div class="contact-div">
            <div class="project-child">
                <div class="form-div">
                        <input required id="name" type="text" placeholder="Enter your name">
                        <input required id="email" type="text" placeholder="Enter your email">
                        <textarea required id="msg" cols="30" rows="5" type="text" placeholder="Enter your message"></textarea>
                        <button type="submit">Send</button>
                    <span id="message-response" style="display: none; font-weight: 600;"></b></span>
                </div>
            </div>
        </div>
    </section>
    <!-- <footer>&copy; Arihant Kamde</footer> -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
        integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/script/script.js"></script>
    <script>
        const btn = document.querySelector("button");
        const msgres = document.querySelector("#message-response");
        const msg = document.querySelector("#msg");
        const name = document.querySelector("#name")
        const email = document.querySelector("#email");
        btn.addEventListener("click", ()=>{
            const data = {name : name.value, msg : msg.value, email : email.value};
            if(name!=='' && msg!=='' && email!==''){
                fetch("http://localhost:3000/contact", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        msgres.innerText = "Message recieved, I'll get back to you soon!";
                        msgres.style.display =  "block";
                    })
                    .catch(error => {
                        console.error('Fetch error:', error);
                    });
            }else{
                msgres.innerText = "Please fill the form!";
                msgres.style.display =  "block";
            }
        })
    </script>
</body>

</html>